<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AgenticToolkitAll.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AgenticToolkitAIPlugins</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitAIPluginsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitAIProvider</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitAIProviderTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitChatWindow</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitCoreTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitCoreUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitCoreUITests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitFileBrowser</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitFileBrowserTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitLoggingWindow</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitLoggingWindowTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitNotesWindow</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitScripting</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitScriptingTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitSettingsWindow</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitTerminalWindow</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AgenticToolkitTerminalWindowTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
